body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  width: 1600px;
  font-family: 'Roboto';
  
  
}

.header {
  position: absolute;
  width: 100%;
  color:#FFF;
  padding-top: 32px;  
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
    .logo{
      margin-left: 95px;
      font-size: 36px;
    }
    .phone{
      margin-right: 95px;
      font-size: 24px;
    }
    
    z-index: 999;
  }






.ul-items {
  li{
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding: 50px;
  }
}

.main-info {
  max-width: 1600px;
}

.main-slider {
  max-width: 1600px;
}


// СТИЛИ БЛОКА "КТО МЫ"

.about-us {
  display: flex;
  background-color: #FFF;
  justify-content: space-evenly;
  align-items: center;
  height: 929px;
  
}

.about-us-text {
  h1{
    font-size: 48px;
    color:black;
    font-style: normal;

  }

  p{
    font-family: Roboto;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    max-width: 663px;
    line-height:45px;
    
  }
}

.click-more {
  display: flex;
  justify-content: flex-end;
  
  h5 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
  }
  
}
  // СТРЕЛКА "ПОДРОБНЕЕ"
  // .arrow {
  //   cursor: pointer;
  //   position: relative;
  //   width: 80px;
  //   height: 50px;
  //   margin: 20px;
  //   div {
  //     position: relative;
  //     top: 20px;
  //     width: 36px;
  //     height: 1px;
  //     background-color: rgba(0, 0, 0, 0.8);
  //     left:0;
  //     display: block;
  //   }
  //   div {
  //     &:after{
  //       content: '';
  //       position: absolute;
  //       width: 36px;
  //       height: 1px;
  //       top: -11px;
  //       right: -8px;
  //       background-color: rgba(0, 0, 0, 0.8);
  //       transform: rotate(45deg);
  //     } 
  //     &:before {
  //       content: '';
  //       position: absolute;
  //       width: 36px;
  //       height: 1px;
  //       top: 11px;
  //       right: -8px;
  //       background-color: rgba(0, 0, 0, 0.8);
  //       transform: rotate(-45deg);
  //     }
    
  //   }
  // } 

.about-us-img {
  background-image: url(./main_page_img/about-us-block-img.png);
  width: 647px;
  height: 578px;
  
}


// Стилизация блока "проекты"

.projects {
  display: flex;
  background-color: #FFF;
  height: 929px;
  flex-direction: column;
  h1 {
    font-size: 48px;
    color: black;
    font-style: normal;
    margin-left: 93px;
    margin-bottom: 128px;
  }
  .more {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    display: flex;
    margin-right: 233px;
    margin-top: 73px;
    justify-content: flex-end;
    font-weight: 300;
    
  }
}

.projects-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: space-between;
  flex-flow: wrap;
  .card {
    width: 360px;
    height: 675px;
    background-color:lightskyblue;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    h5{
      color:#FFF;
      font-size: 24px;
      font-weight: 500;
    }
    span{
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      margin-bottom: 39px;
      font-weight: 300;
    }
  }
}

// СТИЛИ БЛОКА "Почему мы" why_us_block

.why_us_block {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  margin-top: 175px;
  height: 600px;
  h1 {
    font-size: 48px;
    font-style: normal;
    color: black;
    margin-left: 93px;
    margin-bottom: 154px;
    
  }
}

.why_us_container {
  display: flex;
  justify-content: space-around;
  .why_us_item{
    display: flex;
    flex-direction: row;
  }

  .why_us_item_img {
    background-image: url(./main_page_img/why_us_block_img/temp_img.png);
    width: 160px;
    height: 204px;
  }

  .why_us_item_info {
    max-width: 223px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h5 {
      font-size: 36px;
      font-style: normal;
      margin: 0;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      color: black;
      font-style: normal;
      margin: 0 auto;
    }
  }
}


// СТИЛИ БЛОКА "УСЛУГИ"

.services_block {
  display: flex;
  background-color: #FFF;
  height: 929px;
  flex-direction: column;
  h1 {
    font-size: 48px;
    color: black;
    font-style: normal;
    margin-left: 93px;
    margin-bottom: 128px;
  }
  .more-services {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    display: flex;
    margin-right: 233px;
    margin-top: 73px;
    justify-content: flex-end;
    font-weight: 300;
    
  }
}

.services-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: space-between;
  flex-flow: wrap;
  .services_card {
    width: 360px;
    height: 675px;
    background-color:rgb(7, 255, 193);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    h5{
      color:#FFF;
      font-size: 24px;
      font-weight: 500;
    }
    span{
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      margin-bottom: 39px;
      font-weight: 300;
    }
  }
}


// СТИЛИ БЛОКА "СВЯЗЬ С НАМИ"
.contact-us-block {
  display: flex;
  flex-direction: column;
  margin-top: 276px;
  margin-bottom: 152px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-style: normal;
    font-size: 48px;
    color: black;
    
  }
}

.contact-options {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: baseline;
  .line{
    position: relative;
    top: 150px;
    width: 1px;
    height: 267px;
    background-color: #c4c4c4;
  }
}

.option {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 77px;
  h5 {
    font-size: 24px;
    margin:0 auto;
    margin-top: 40px;

  }
  p {
    width: 209px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
  }
  .phone-img {
    background-image: url(./main_page_img/contact-us-block-img/phone.svg);
    width: 67px;
    height: 111px;
    
  }
  .point-img {
    background-image: url(./main_page_img/contact-us-block-img/point.svg);
    width: 85px;
    height: 106px;
    
  }
  .mail-img {
    background-image: url(./main_page_img/contact-us-block-img/mail.svg);
    width: 120px;
    height: 78px;
    
  }
}

